<div class="container">
    <div class="row mt-5">
        <mat-card class="col-12">
            <mat-selection-list #shoes [multiple]="false">
                <mat-list-option *ngFor="let postulante of listaPostulante" (click)="verMas(postulante.id)" [value]="postulante">
                    {{postulante}}
                </mat-list-option>
            </mat-selection-list>
        </mat-card>

        <mat-card  class="col-12">
            <mat-card-content>
                <mat-list role="list">
                    <div *ngIf="false">
                        <mat-list-item role="listitem">Cedula: {{postulanteSeleccionado.persona.cedula}}</mat-list-item>
                        <mat-list-item role="listitem">Nombre: {{postulanteSeleccionado.persona.nombre}}</mat-list-item>
                        <mat-list-item role="listitem">Apellido: {{postulanteSeleccionado.persona.apellido}}</mat-list-item>
                        <mat-list-item role="listitem">Correo: {{postulanteSeleccionado.persona.correo}}</mat-list-item>
                        <mat-list-item role="listitem">Sexo: {{postulanteSeleccionado.persona.sexo | sexo}}</mat-list-item>
                        <mat-list-item role="listitem">Fecha Nacimiento: {{postulanteSeleccionado.persona.fecha_nac | date:'dd/MM/yyyy'}}</mat-list-item>
                    </div>
                   
                    <mat-list-item role="listitem">
                        <button (click)="verDocumentos()" mat-raised-button color="primary">Ver documentacion</button>
                    </mat-list-item>
                    <mat-card *ngIf="verDocumentacion">
                        <div class="row">
                            <img class="col-12" src="https://i.blogs.es/a19bfc/testing/1366_2000.jpg">
                            <img class="col-12" src="https://i.blogs.es/a19bfc/testing/1366_2000.jpg">
                            <img class="col-12" src="https://i.blogs.es/a19bfc/testing/1366_2000.jpg">
                        </div>
                    </mat-card>
                    
                </mat-list>
            </mat-card-content>
            <mat-card-actions align="end">
                <button (click)="informarProblema()" mat-button>Informar de un problema</button>
                <button mat-button>Aprobar</button>
                <button mat-button>No aprobar</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>