<div class="container">
  <div class="row">
    <mat-card class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto my-5 example-card">
      <mat-card-header>
        <mat-card-title>{{titulo}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- inicio form usuario y contrasenia-->
        <form  [formGroup]="formulario" *ngIf="datosLogin == undefined">
          <mat-form-field [style.width.%]=100>
            <input matInput placeholder="Cédula o correo" name="usuario" formControlName="usuario">
          </mat-form-field>

          <mat-form-field [style.width.%]=100>
            <input matInput placeholder="Contraseña" type="password" name="contrasenia" formControlName="contrasenia">
          </mat-form-field>

        </form>
        <!-- fin form usuario y contrasenia-->

        <!-- inicio form rol-->
        <form [formGroup]="formularioRol" *ngIf="datosLogin != undefined">
          <mat-form-field class="mt-3" appearance="fill" [style.width.%]=100>
            <mat-select placeholder="Seleccione un rol" formControlName="rol">
              <mat-option *ngFor="let rol of roles" [value]="rol">
                {{rol}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
        <!-- fin form rol-->
      </mat-card-content>
      <mat-card-actions align="end">
        <button *ngIf="datosLogin == undefined" mat-raised-button color="primary" [disabled]="!formulario.valid"    (click)="login()">Acceder</button>
        <button *ngIf="datosLogin != undefined"  mat-raised-button color="primary" [disabled]="!formularioRol.valid" (click)="eleguirRol()">Aceptar</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>