<div class="container">
  <div class="row">
    <mat-card class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto my-5 example-card">
      <mat-card-header>
        <mat-card-title>Iniciar sesión</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form  [formGroup]="formulario">
          <mat-form-field [style.width.%]=100>
            <input matInput placeholder="Cédula o correo" name="usuario" formControlName="usuario">
          </mat-form-field>

          <mat-form-field [style.width.%]=100>
            <input matInput placeholder="Contraseña" type="password" name="contrasenia" formControlName="contrasenia">
          </mat-form-field>

          <mat-error *ngIf="mostrarErrorLogin">Datos incorrectos, por favor vuelva a intentar</mat-error>

        </form>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" [disabled]="!formulario.valid" (click)="login()">Acceder</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>