<div class="container">
    <div class="row">
        <mat-card class="col-12 col-sm-10 col-md-6 col-lg-4 mx-auto my-5 example-card">
            <mat-card-header>
              <mat-card-title>Login</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <form class="example-form">
                <mat-form-field [style.width.%]=100>
                    <input matInput placeholder="Username" name="username" required>
                </mat-form-field>

                <mat-form-field [style.width.%]=100>
                    <input matInput placeholder="Password" type="password" name="password" required>
                </mat-form-field>
              </form>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-raised-button color="primary">Login</button>
            </mat-card-actions>
          </mat-card>
    </div>
</div>
