<div class="container">
    <h1 class="mt-2">Gestión de carreras</h1>
    <div class="row">
        <mat-card class="col-12  mx-auto my-2 example-card">
            <form [formGroup]="formulario">
                <mat-card-header>
                    <mat-card-title>Ingrese los datos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="row">
                        <div class=" col-12 pl-5 pr-5">
                            <!-- datos de la carrera -->

                            <p class="my-3">Información general</p>

                            <mat-form-field [style.width.%]=100>
                                <input matInput placeholder="Nombre" name="nombre" formControlName="nombre">
                            </mat-form-field>

                            <mat-form-field [style.width.%]=100>
                                <textarea rows="4" matInput placeholder="Descripcion" name="descripcion"
                                    formControlName="descripcion"></textarea>
                            </mat-form-field>

                            <mat-divider></mat-divider>

                            <p class="my-3">Sedes en las que se dicta</p>

                            <form [formGroup]="formularioSede" class="mt-4">
                                <div class="row">
                                    <mat-form-field class="col-12 col-md-9" [style.width.%]=100>
                                        <mat-select placeholder="Seleccione una sedes" name="sede" formControlName="sede">
                                            <mat-option *ngFor="let sede of listaSedes" [value]="sede">
                                                {{sede.direccion.departamento}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <div class="col-12 col-md-3 m-auto" align="end">
                                        <button mat-raised-button (click)="asignarSedes()"
                                            [disabled]="!formularioSede.valid" color="primary">Agregar
                                            sede</button>
                                    </div>
                                </div>
                                <div class="mb-2">
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngFor="let sede of listaSedeSeleccionada" [removable]="true" (removed)="quitarSede(sede)">
                                            {{sede.direccion.departamento}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>
                            </form>

                            <mat-divider></mat-divider>

                            <p class="my-3">Áreas de estudio</p>

                            <form [formGroup]="formularioArea">

                                <div class="row">
                                    <mat-form-field class="col-12 col-md-6" [style.width.%]=100>
                                        <mat-select placeholder="Seleccione un área" name="area"
                                            formControlName="area">
                                            <mat-option *ngFor="let area of listaAreasEstudio" [value]="area">
                                                {{area.area}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field class="col-12 col-md-3" [style.width.%]=100>
                                        <input matInput placeholder="Créditos" name="creditos"
                                            formControlName="creditos">
                                    </mat-form-field>

                                    <div class="col-12 col-md-3 m-auto" align="end">
                                        <button mat-raised-button (click)="asignarArea()"
                                            [disabled]="!formularioArea.valid" color="primary">Agregar área de estudio</button>
                                    </div>
                                </div>

                                <div class="mb-2">
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngFor="let area of listaAreaSeleccionada" [removable]="true" (removed)="quitarArea(area)">
                                            {{area.area}} ({{area.creditos}} creditos)
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>

                            </form>

                            <mat-divider></mat-divider>

                            <form [formGroup]="formularioCurso" class="mt-4">

                                <p class="my-3">Ingrese los cursos para el semestre {{contadorSemestres}}</p>

                                <div class="row">
                                    <div class="col-12 col-md-5">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-select placeholder="Seleccione un curso" name="curso"
                                                formControlName="curso">
                                                <mat-option *ngFor="let curso of listaCurso" [value]="curso">
                                                    {{curso.nombre}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-3">
                                        <mat-form-field [style.width.%]=100>
                                            <mat-select placeholder="Tipo de curso" name="optativo"
                                                formControlName="optativo">
                                                <mat-option value="false">Obligatorio</mat-option>
                                                <mat-option value="true">Optativo</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="col-12 col-md-2 m-auto" align="end">
                                        <button  class="mt-2" mat-raised-button (click)="asignarCurso()"
                                            [disabled]="!formularioCurso.valid" color="primary">Agregar curso</button>
                                    </div>

                                    <div class="col-12 col-md-2 m-auto" align="end">
                                        <button class="mt-2" mat-raised-button (click)="crearSemestre()"
                                            [disabled]="listaCursoSeleccionados.length == 0" color="primary">Confirmar semestre</button>
                                    </div>
                                </div>

                                <div class="mb-2">
                                    <mat-chip-list aria-label="Fish selection">
                                        <mat-chip *ngFor="let curso of listaCursoSeleccionados" [removable]="true" (removed)="quitarCurso(curso)">
                                            {{curso.nombre}}
                                            <mat-icon matChipRemove>cancel</mat-icon>
                                        </mat-chip>
                                    </mat-chip-list>
                                </div>

                            </form>

                            <div>
                                <mat-card *ngFor="let semestre of listaSemestre" class="mt-5">
                                    <mat-card-header>
                                        <mat-card-title>
                                            Semestre {{semestre.clave}}
                                            <button mat-button color="warn" (click)="quitarSemestre(semestre)">Quitar</button>
                                        </mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <mat-chip-list aria-label="Fish selection">
                                            <mat-chip *ngFor="let curso of semestre.cursos" (click)="cargarListaPrevia(curso, semestre.clave)">
                                                {{curso.nombre}}
                                            </mat-chip>
                                        </mat-chip-list>
                                    </mat-card-content>
                                </mat-card>
                            </div>

                            <br>

                            <mat-divider></mat-divider>
                        </div>
                    </div>

                </mat-card-content>
                <mat-card-actions align="end" class="pr-5">
                    <button mat-raised-button color="primary" [routerLink]="['/admin/carrera']">Volver</button>
                    <button [disabled]="!validarForm()" (click)="crear()" mat-raised-button color="primary">Acceder</button>
                </mat-card-actions>
            </form>
        </mat-card>
    </div>
</div>