<mat-toolbar color="primary" class="container-fluid">
  <div class="row m-0 p-0 justify-content-start col-2 col-sm-5 col-md-4">
    <button mat-icon-button *ngIf="logeado()" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div *ngIf="logeado()" class="row m-0 p-0 justify-content-end col-2 col-sm-5 col-md-4">
  </div>
  <div class="row m-0 p-0 justify-content-center col-4 col-sm-2 col-md-4">
    <a class="mt-2" href="/"><img src="\assets\img\UTEC.png" width="100"></a>
  </div>
  <div class="row m-0 p-0 justify-content-end col-6 col-sm-5 col-md-4">
    <button mat-raised-button *ngIf="!logeado()" [routerLink]="['/login']">Iniciar sesión</button>
  </div>
</mat-toolbar>

<mat-drawer-container class="row example-container">
  <mat-drawer [style.width.%]=100 #drawer mode="over" [opened]="false">
    <mat-accordion multi *ngFor="let seccion of menuAMostrar()">

      <mat-expansion-panel hideToggle expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{seccion.nombre}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let item of seccion.items" [routerLink]="[item.link]"
            (click)="drawer.opened = false">
            {{item.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
           Gestion de sesión
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option (click)="drawer.opened = false">
            <p *ngIf="logeado()" (click)="logout()">Cerrar sesión</p>
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>

    </mat-accordion>
  </mat-drawer>

  <mat-drawer-content class="col-12">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>