<div class="container">
  <h1 class="mt-2">Inscripción a cursos</h1>
  <mat-card class="mt-3">
    <mat-spinner class="mx-auto mt-5" *ngIf="periodoOk == undefined"></mat-spinner>
    
    <mat-card-content *ngIf="periodoOk == false">
      <p>Actualmente no hay ningún período de inscripcion a cursos vigente.</p>
    </mat-card-content>

    <mat-card-content *ngIf="periodoOk == true">
      <form [formGroup]="formulario" class="row">
        <mat-form-field class="col-12 col-md-10" [style.width.%]=100>
          <mat-select placeholder="Lista de carreras inscripto" name="carrera" formControlName="carrera">
            <mat-option *ngFor="let carrera of listaCarrera" [value]="carrera.id">
              {{carrera.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div class="col-12 col-md-2 m-auto" align="end">
          <button mat-raised-button (click)="cargarMateria()" [disabled]="!formulario.valid" color="primary">Seleccionar carrera </button>
        </div>
      </form>

      <mat-selection-list class="curso" #curso [(ngModel)]="selectedOptions">
        <mat-list-option *ngFor="let curso of listaCurso" [disabled]="curso.habilitado != 1" [value]="curso.id">
          <div mat-line>{{curso.curso.nombre}}</div>
          <div mat-line class=" descripcion">{{ curso.habilitado | descripcionInscripcionCurso }}</div>
        </mat-list-option>
      </mat-selection-list>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-raised-button color="primary" [routerLink]="['/']">Volver</button>
      <button mat-raised-button color="primary" (click)="confirmar()" *ngIf="listaCurso.length > 0" [disabled]="selectedOptions.length < 1" >Confirmar</button>
    </mat-card-actions>
  </mat-card>
</div>