<div class="container">
  <div class="row mt-5">
    <mat-card class="col-12">
      <mat-card-content>
        <mat-list role="list" class="m-auto">
          <mat-list-item role="listitem">Cedula: {{persona.cedula}}</mat-list-item>
          <mat-list-item role="listitem">Nombre: {{persona.nombre}}</mat-list-item>
          <mat-list-item role="listitem">Apellido: {{persona.apellido}}</mat-list-item>
          <mat-list-item role="listitem">Correo: {{persona.correo}}</mat-list-item>
          <mat-list-item role="listitem">Sexo: {{persona.sexo | sexo}}</mat-list-item>
          <mat-list-item role="listitem">Fecha Nacimiento: {{persona.fecha_nac | date:'dd/MM/yyyy'}}</mat-list-item>
          <mat-divider></mat-divider>
          <div class="row mt-3 mx-5">
            <a class="col-4 enlaceboton" download="" href="{{postulante.img_ci}}" >Descargar imagen de cedula</a>
            <a class="col-4 enlaceboton" download="" href="{{postulante.img_escolaridad}}">Descargar imagen de escolaridad</a>
            <a class="col-4 enlaceboton" download="" href="{{postulante.img_carne_salud}}">Descargar imagen de carne de salud</a>
          </div>
        </mat-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="primary" (click)="aceptar()">Aceptar</button>
        <button mat-raised-button color="warn" (click)="rechasar()">Rechasar</button>
        <button mat-raised-button (click)="informarProblema()">Informar problema</button>
        <button mat-raised-button [routerLink]="['/administrativo/revicion-postulante']">Volver</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>