<div class="container">
    <h1 class="mt-2">Sede</h1>
    <div class="row d-flex">
        <div class="col-12 mb-2">
            <button mat-raised-button color="primary" [routerLink]="['/admin/sede/abm']">Agregar</button>
        </div>
    </div>
    <!-- Tabla -->
    <table mat-table [dataSource]="sedeDataSource" class="col-12">
        <!-- Columna -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Columna -->
        <ng-container matColumnDef="telefono">
            <th mat-header-cell *matHeaderCellDef> telefono </th>
            <td mat-cell *matCellDef="let element"> {{element.telefono}} </td>
        </ng-container>

        <!-- Columna -->
        <ng-container matColumnDef="departamento">
            <th mat-header-cell *matHeaderCellDef> departamento </th>
            <td mat-cell *matCellDef="let element"> {{element.departamento}} </td>
        </ng-container>

        <!-- Columna -->
        <ng-container matColumnDef="ciudad">
            <th mat-header-cell *matHeaderCellDef> ciudad </th>
            <td mat-cell *matCellDef="let element"> {{element.ciudad}} </td>
        </ng-container>

        <!-- Columna -->
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef> Accion </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button [routerLink]="['/admin/sede/abm',element.persona.cedula]">Ver detalle</button>
            </td>
        </ng-container>

        <!-- Definicion de columnas y filas, o algo asi-->
        <tr mat-header-row *matHeaderRowDef="columnasAMostrar"></tr>
        <tr mat-row *matRowDef="let row; columns: columnasAMostrar;"></tr>

        <!-- Esto se muestra si la tabla esta vacia -->
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No hay nada para mostrar</td>
        </tr>
    </table>
</div>