<div class="container">
    <mat-card class="mt-5">
      <mat-card-content>
        <mat-selection-list class="examen" #examen [(ngModel)]="selectedOptions">
          <mat-list-option *ngFor="let examen of listaExamen" [disabled]="false" [value]="examen">
            {{examen.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button  [routerLink]="['/']">Volver</button>
        <button mat-button (click)="confirmar()">Confirmar</button>
      </mat-card-actions>
    </mat-card>
  </div>