<div class="container">
    <mat-card class="mt-5">
      <mat-card-content>
        <form [formGroup]="formulario" class="row p-2">
          <mat-form-field class="p-0 col-12" [style.width.%]=100>
            <mat-select placeholder="Lista de carreras inscripto" name="carrera" formControlName="carrera">
              <mat-option *ngFor="let carrera of listaCarrera" [value]="carrera.id">
                {{carrera.nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
        <button class="col-12" mat-raised-button (click)="cargarMateria()" color="primary">Seleccionar carrera </button>

        </form>
  
        <mat-selection-list class="curso" #curso [(ngModel)]="selectedOptions">
          <mat-list-option class="mt-2 mb-2" *ngFor="let curso of listaCurso" [disabled]="curso.habilitado != 1" [value]="curso.id">
            {{curso.curso.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-button [routerLink]="['/']">Volver</button>
        <button mat-button (click)="confirmar()">Confirmar</button>
      </mat-card-actions>
    </mat-card>
  </div>