<div class="container">
    <div class="my-3">
        <div class="row my-2 col-12 col-sm-10 col-md-6 col-lg-4 mx-auto mt-1">
            <img class="m-0 p-0" src="/assets/img/desconectado.png" width="100%" alt="Desconectado">
        </div>
        <div class="row my-2 col-12 col-sm-10 col-md-6 col-lg-4 mx-auto mt-1">
            <h1 class="mx-auto">Sin conexión a internet</h1>
        </div>
        <div class="row my-2 col-12 col-sm-10 col-md-6 col-lg-4 mx-auto mt-1">
           <h3 class="parrafo">Comprueba que tu conexión Wi-Fi o de datos móviles esté activada y vuelve a intentarlo</h3>
        </div>
    </div>
</div>