<div class="container">
    <mat-card class="mt-3">
        <mat-card-content>
            <!-- datos de la direccion -->
            <form [formGroup]="formulario" class="row mb-2 px-2">
                    
                <mat-form-field class="col-12" [style.width.%]=100>
                    <mat-select placeholder="Carrera" name="carrera" formControlName="carrera">
                        <mat-option *ngFor="let carrera of listaCarrera" [value]="carrera.id">
                            {{carrera.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <button class="col-12 " mat-raised-button color="primary" (click)="obtenerEscolaridad()">Obtener escolaridad</button>
            </form>
        </mat-card-content>

        <mat-card-content *ngIf="mostrarSpinner">
            <mat-spinner class="mx-auto"></mat-spinner>
        </mat-card-content>

        <mat-divider *ngIf="escolaridad != null"></mat-divider>

        <mat-card-content *ngIf="escolaridad != null">
            <h1 class="pt-4">Información básica</h1> 
            <div class=" row mx-auto">
                <mat-card class="col-12">
                    <h4>Cédula: {{escolaridad.usuario.persona.cedula}}</h4>
                    <h4>Nombre completo: {{escolaridad.usuario.persona.nombre}} {{escolaridad.usuario.persona.apellido}}</h4>
                    <h4>Carrera: {{escolaridad.carrera.nombre}}</h4>
                    <h4>Nota promedio: {{escolaridad.nota_promedio}}</h4>
                </mat-card>
            </div>
        </mat-card-content>
        
        <mat-card-content *ngIf="escolaridad != null">
            <div class="mt-1 " *ngFor="let semestre of escolaridad.semestres">
                <mat-divider></mat-divider>

                <h1 class="pt-4">Semestre {{semestre.numero}}</h1>
                <div class="curso p-2 row mx-0 my-3" *ngFor="let curso of semestre.detalle">
                    <div>
                        <h3>Curso: {{curso.curso.nombre}}</h3>
                        <div>
                            <h3>Período: {{curso.periodo}}</h3>
                        </div>
                        <div>
                            <h3>Nota: {{curso.nota | nota}}</h3>
                        </div>
                        <div>
                            <h3>Tipo: {{curso.tipo | tipoActa}}</h3>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>