<div class="container">
    <mat-card class="mt-5">
        <mat-card-content>
            <!-- datos de la direccion -->
            <form [formGroup]="formulario" class="row mb-2">
                    
                <mat-form-field class="col-12 col-md-10" [style.width.%]=100>
                    <mat-select placeholder="Carrera" name="carrera" formControlName="carrera">
                        <mat-option *ngFor="let carrera of listaCarrera" [value]="carrera.id">
                            {{carrera.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div class="col-12 col-md-2 mb-2 m-auto">
                    <button mat-raised-button color="primary" (click)="obtenerEscolaridad()">Obtener escolaridad</button>
                </div>
            </form>
            <mat-divider></mat-divider>
        </mat-card-content>
        <mat-card-content *ngIf="escolaridad != null">
            <div class="mb-5 row mx-auto">
                <mat-card class="col-12 col-md-4">
                    <h3>Usuario: {{escolaridad.usuario.persona.nombre}} {{escolaridad.usuario.persona.apellido}}</h3>
                </mat-card>
                <mat-card class="col-12 col-md-4">
                    <h3>Carrera: {{escolaridad.carrera.nombre}}</h3>
                </mat-card>
                <mat-card class="col-12 col-md-4">
                    <h3>Nota promedio: {{escolaridad.nota_promedio}}</h3>
                </mat-card>
            </div>
            <mat-card class="mt-1" *ngFor="let semestre of escolaridad.semestres">
                <h3>Semestre {{semestre.numero}}</h3> 
                <div class="p-2 row" *ngFor="let curso of semestre.detalle">
                    <mat-card class="col-12 col-md-6 mb-2">
                        <h3>Curso: {{curso.curso.nombre}}</h3>
                    </mat-card>
                    <mat-card class="col-12 col-md-2 mb-2">
                        <h3>Tipo: {{curso.tipo | tipoActa}}</h3>
                    </mat-card>
                    <mat-card class="col-12 col-md-2 mb-2">
                        <h3>Periodo: {{curso.periodo}}</h3>
                    </mat-card>
                    <mat-card class="col-12 col-md-2 mb-2">
                        <h3>Nota: {{curso.nota | nota}}</h3>
                    </mat-card>
                </div>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>