<mat-toolbar color="primary">
  <button *ngIf="true" (click)="drawer.toggle()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="example-spacer"></span>
  
  <img src="\assets\img\UTEC.png" width="100">
  <span class="example-spacer"></span>
  
  <button mat-raised-button [routerLink]="['/']">Inicio</button>
  <button  mat-raised-button [routerLink]="['/login']">Iniciar sesión</button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened>

    <mat-accordion multi *ngFor="let seccion of menu">
      <mat-expansion-panel hideToggle expanded>
        <mat-expansion-panel-header>
          <mat-panel-title >
            {{seccion.nombre}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option *ngFor="let item of seccion.items" [value]="">
            {{item.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

