.example-spacer {
  flex: 1 1 auto;
}
.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid #555;
}
.mat-raised-button{
  margin: 5px;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}


