
.main-container {
  width: 100%;
  /*la altura del contenedor será el 100% - la altura de la navbar*/
  height:calc(100% - 64px);
}
.mat-raised-button{
  margin: 5px;
}

.mat-expansion-panel-header-title {
  font-weight: bold;
}


