<mat-toolbar color="primary" class="container-fluid">
  <div class="row m-0 p-0 justify-content-start col-2 col-sm-5 col-md-4">
    <button mat-icon-button *ngIf="logeado()" (click)="drawer.toggle()" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="row m-0 p-0 justify-content-center col-3 col-sm-2 col-md-4">
    <a href="/"><img src="\assets\img\UTEC.png" width="100"></a>
  </div>
  <div class="row m-0 p-0 justify-content-end col-7 col-sm-5 col-md-4">
    <button mat-raised-button [routerLink]="['/']">Inicio</button>
    <button mat-raised-button *ngIf="!logeado()" [routerLink]="['/login']">Iniciar sesión</button>
    <button mat-raised-button *ngIf="logeado()" (click)="logout()">Cerrar sesion</button>
  </div>
</mat-toolbar>

<mat-drawer-container class="main-container">
  <mat-drawer #drawer class="col-12 col-sm-8 col-md-6 col-lg-4 col-xl-3 p-0" [mode]="menuMode" [opened]="logeado()">

    <mat-accordion multi *ngFor="let seccion of menuAMostrar()">
      <mat-expansion-panel hideToggle expanded>
        <mat-expansion-panel-header>
          <mat-panel-title >
            {{seccion.nombre}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-selection-list [multiple]="false">
          <mat-list-option  *ngFor="let item of seccion.items" [routerLink]="[item.link]">
            {{item.nombre}}
          </mat-list-option>
        </mat-selection-list>
      </mat-expansion-panel>
    </mat-accordion>

  </mat-drawer>

  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

