<div class="container">
  <h1>Carreras</h1>
  <div class="row">
    <div *ngFor="let item of listaCarrera" class="p-2 col-12 col-sm-6 col-lg-4 col-xl-3">
      <mat-card class="carrera">
        <mat-card-header>
          <mat-card-title>{{item.nombre}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p [innerHTML]="item.descripcion"></p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="['/ver/carrera/', item.id]">Inicio</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>